.app {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
  margin-top: 60px;
}
.app__pdfViewer {
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  flex: 1;
}
.app__img {
  flex:1;
  overflow-y: auto;
}
